body{
    background: url(./Images/Star\ BG\ in\ UI.png) no-repeat, url(./Images/dark-bg.jpeg);
    background-position: center;
    background-size: cover;
}
.events{
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.event-box{
    position: relative;
    margin: 10px 15px;
}
.event-box img{
    height: 350px;
    width: 350px;
}
.event-title{
    position: absolute;
    bottom: 15px;
    left: 15px;
}

